apiVersion: v1
kind: Service
metadata:
  name: java-app-1-service
  namespace: java-app-1
  labels:
    app: java-app-1
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: java-app-1
